[package]
name = "walker-common"
description = "A common functionality for SBOM and CSAF walker"
version = "0.6.0-alpha.8"
edition = "2021"
authors = ["Jens Reimann <ctron@dentrassi.de>"]
license = "Apache-2.0"
repository = "https://github.com/ctron/csaf-walker"
categories = ["data-structures"]
keywords = ["csaf"]
readme = "../README.md"
# based on clap
rust-version = "1.74"

[dependencies]
anyhow = "1"
async-trait = "0.1"
base64 = "0.21"
bytes = "1"
csv = "1"
digest = "0.10.7"
flexible-time = "0.1"
futures-util = "0.3"
html-escape = "0.2"
humantime = "2"
indicatif = "0.17.6"
log = "0.4"
openid = "0.12"
reqwest = { version = "0.11", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10.7"
thiserror = "1"
time = { version = "0.3", features = ["serde", "formatting", "local-offset"] }
tokio = { version = "1", features = ["sync", "fs"] }
tracing = "0.1"
url = "2"

sequoia-openpgp = { version = "1", default-features = false }

bzip2 = { version = "0.4", optional = true }
bzip2-rs = { version = "0.1", optional = true, features = ["rustc_1_51"] }

clap = { version = "4.5.0", features = ["derive", "env"], optional = true }

[features]
default = ["bzip2"]
_crypto-nettle = ["sequoia-openpgp/crypto-nettle"]

[package.metadata.cargo-all-features]
always_include_features = [
    "sequoia-openpgp/crypto-nettle",
]

[package.metadata.release]
enable-features = ["sequoia-openpgp/crypto-nettle"]
tag = true
